%h2
  = email.file_name_with_extension
%h4
  = link_to "download", email_download_path(email)
  |
  = link_to "permalink", email_path(email), onclick: "window.open(this.href, '#{email.file_name}', 'height=1200, width=800');return false;" 
.email-contents
  %table#email-contents.table.table-bordered
    %thead
    %tbody
      %tr
        %td
          Date:
          = email.received
      %tr
        %td
          From:
          = email.from
      %tr
        %td
          To:
          = email.to
      %tr
        %td
          Subject:
          = email.subject
  %pre.pre-scrollable.email-body
    = email.body





