.email-search
  %form#email-search-form(class="well form-search" action="#{emails_search_path}")
    %input(type="text" autofocus="autofocus" name="query"  class="input-medium search-query" placeholder="Keyword" value="#{params[:query]}")
    %input.btn.btn-success(type="submit" class="button wb-success" value="search")

  %p
    Total docs matched:
    = @search.results.total_count if @search
  %p.paginator
    = paginate @search.results if @search

  %table#products.table.table-bordered
    %thead
      %tr
        %th ID
        %th File
        %th Sent
        %th From
        %th Subject
    %tbody
      - @emails.each do |email|
        %tr
          %td
            = email.id
          %td
            = email.file_name + ".emlx"
          %td
            = email.received.in_time_zone("Pacific Time (US & Canada)").to_s(:db)
          %td
            = email.from
          %td
            = email.subject


